<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Home &bull; Auvora</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/common/os-icon.ico') }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
</head>
<body class="column">
    <main class="main">
        <h1 class="h1">Omnigel</h1>
    </main>

    {% include 'components/taskbar.html' %}
</body>
</html>