<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home &bull; Auvora</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/common/os-icon.ico') }}"
        type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/dash.css') }}">
</head>

<body class="column dark">
    {% include 'components/newfolder-popup.html' %}

    <main class="main column h-sb">
        <img src="{{ data.setup.bg }}" alt="Can't render background-image" class="img" id="background-image">

        <section class="top-layer flex gap-20">
            <section class="icons-group" id="apps">
                <div class="content">
                    {% for app in data.apps %}
                    <button class="app-btn" id="{{ app.app_id }}">
                        <div class="icon-content"><img src="{{ app.icon }}" alt="{{ app.title }}" class="icon"></div>
                        <span class="text">{{ app.title }}</span>
                    </button>
                    {% endfor %}
                </div>
                <span class="text">Apps</span>
            </section>

            <section class="icons-group" id="folders">
                <div class="content">
                    <button class="folder-btn" id="new-folder">
                        <div class="icon-content"><img
                                src="{{ url_for('static', filename='assets/icons/common/new-folder.png') }}"
                                alt="New folder" class="icon"></div>
                        <span class="text">Create new</span>
                    </button>
                </div>
                <span class="text">Folders</span>
            </section>
        </section>

        <section class="mid-layer">

        </section>

        <section class="bottom-layer flex gap-20">
            <div class="widget column gap-10" id="time">
                <h1 class="h1" id="current-time"></h1>
                <h3 class="h3" id="current-date"></h3>
            </div>
        </section>
    </main>

    {% include 'components/taskbar.html' %}

    <script type="module" src="{{ url_for('static', filename='js/base/base.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/pages/dash.js') }}"></script>
</body>

</html>