.taskbar {
    background-color: var(--surface-dark);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    gap: 20px;
}

.taskbar .icon-btn {
    padding: 0;
    background-color: transparent;
}

.taskbar .input {
    width: max(100%, 25vw);
    color: var(--text-dark);
}

.taskbar #options {justify-content: end;}