<link rel="stylesheet" href="{{ url_for('static', filename='css/components/taskbar.css') }}">

<footer class="taskbar">
    <section class="explorer row gap-10 task-section">
        <div class="explore-btn icon-btn">
            <img src="{{ url_for('static', filename='assets/icons/common/os-logo.png') }}" alt="Auvora" class="logo">
        </div>

        <input type="search" id="search" placeholder="Type anything to search" class="input">
    </section>

    <div class="row gap-10 task-section center" id="pinned-apps">
        {% for app in data.apps %}
            {% if app.pinned %}
                <button class="icon-btn app" id="{{ data.app_id }}">
                    <img src="{{ app.icon }}" alt="{{ app.title }}" class="icon">
                </button>
            {% endif %}
        {% endfor %}
    </div>

    <section class="task-section row" id="options">
        <div class="icon-btn" id="fullscreen-toggle">
            <img src="{{ url_for('static', filename='assets/icons/common/fullscreen.png') }}" alt="Toggle fullscreen" class="icon">
        </div>
    </section>
</footer>

<script type="module" src="{{ url_for('static', filename='js/components/taskbar.js') }}"></script>